@page "/CommandCenter"
@inject IPlayerService _playerService
@inject IThrowService _throwService
@inject IPlayerThrowService _playerThrowService
@inject IMatchService _matchService
@inject IPosibleThrowService _posibleThrowService
@inject IMatchPlayerService _matchPlayerService
@inject ISignalRService _sigalRService
@inject NavigationManager navigation

@using Microsoft.AspNetCore.SignalR.Client

<div class="viewer"></div>
<Error ErrorMessage="@error"></Error>
<LoadingScreen IsBusy="@isBusyLoadingIndicator"></LoadingScreen>
@if (allPosibleThrow != null)
{

    <div>
        <div class="d-flex justify-content-between flex-wrap">
            @foreach (var item in allPosibleThrow)
            {
                <DartSegment DataModel="item"
                             OnSelected="ProcessThrow"></DartSegment>
            }
        </div>
        <div class="d-flex justify-content-center mt-3" id="bull-container">
            <div id="outer-bull" class="d-flex justify-content-center align-items-center" @onclick="e => ProcessThrow(posibleBullThrows[0])">
                <div id="inner-bull" @onclick="e => ProcessThrow(posibleBullThrows[1])" @onclick:stopPropagation></div>
            </div>

        </div>
    </div>
    if (!string.IsNullOrWhiteSpace(gameIsDoneMessage))
    {
        <div class="mt-2">
            <div class="error-message  alert-success w-50 m-auto">
                <p class="text-success p-2 text-center">@gameIsDoneMessage</p>
            </div>
        </div>
    }
    if (DeleteIsBusy)
    {
        <div class="d-flex justify-content-center align-items-center flex-column delete-spinner">
            <div class="spinner-border text-danger" role="status">
            </div>
            <span>Loading...</span>
        </div>
    }
    else
    {
        @if (currentMatch != null && string.IsNullOrWhiteSpace(error))
        {
            <div class="d-flex justify-content-center">
                <figure class="d-flex align-items-center justify-content-center">
                    <img src="/images/darts.png" />
                </figure>
                <div class="w-100">
                    <ScoreBoard AllPosibleThrow="allPosibleThrow"
                                PosibleBullThrows="posibleBullThrows"
                                CurrentMatch="currentMatch"
                                isBusy="SetSpinner"></ScoreBoard>
                </div>
                <figure class="d-flex align-items-center justify-content-center">
                    <img src="/images/darts.png" />
                </figure>
            </div>
        }
        <div class="d-flex align-items-center justify-content-center ">
            <input type="button" class="btn btn-primary me-2" @onclick="RedirectToAddPlayer" value="+Add Player" />
            <input type="button" class="btn btn-primary me-2" @onclick="CreateCurrentMatch" value="New Match" />
            @if (activeGames.Any())
            {
                <EditForm Model="selectedMatch" OnValidSubmit="e => ActivateMatch(selectedMatch)" class="d-flex ml-4 justify-content-center p-2">

                    <InputSelect class="form-select-sm" @bind-Value="@selectedMatch.Id">
                        <option value="@Guid.Empty" selected="selected">Pick a match</option>
                        @foreach (var match in activeGames)
                        {
                            <option value="@match.Id">@match.PlayerOne.FirstName @match.PlayerOne.LastName - @match.PlayerTwo.FirstName @match.PlayerTwo.LastName</option>
                        }
                    </InputSelect>

                    <input type="submit" class="btn btn-primary ms-1" value="Continue match">


                </EditForm>
            }
        </div>
    }



}


@code {
    private DartsMatchModel currentMatch;
    private List<ScoresPerNumberModel> allPosibleThrow;
    private List<ScoreModel> posibleBullThrows;
    private List<DartsMatchModel> activeGames = new();
    DartsPlayerModel playerWhoFinischedFirst;
    private string error = "";
    private bool isBusyLoadingIndicator = true;
    private string gameIsDoneMessage = "";
    private DartsMatchModel selectedMatch = new();
    private bool DeleteIsBusy;


    private void RedirectToAddPlayer()
    {
        navigation.NavigateTo("/AddPlayer");
    }
    private async Task SetSpinner(bool isBusy)
    {
        DeleteIsBusy = isBusy;
        await InvokeAsync(StateHasChanged);
    }
    protected async override Task OnInitializedAsync()
    {
        isBusyLoadingIndicator = true;
        allPosibleThrow = await _posibleThrowService.CreateAllThrows();
        posibleBullThrows = await _posibleThrowService.CreateAllBullThrows();
        if (allPosibleThrow == null || posibleBullThrows == null) error = "Something went wrong please restart!";
        isBusyLoadingIndicator = false;
        await GetActiveGames();

    }

    private async Task CreateCurrentMatch()
    {

        var result = await _playerService.GetAllPlayersAsync();
        int maxPlayerCount;
        Random random = new Random();
        currentMatch = new DartsMatchModel();

        List<DartsPlayerModel> valibleCandidated = new();

        if (result.IsSucces)
        {

            var playerThatAreNotInMatch = result.Items.Where(p => !p.Matches.Any(m => m.Match.IsActiveGame == true)).ToList();
            maxPlayerCount = playerThatAreNotInMatch.Count();
            ItemResultModel<Player> availeblePlayersResult = new();
            DartsPlayerModel playerOne = new();
            if (maxPlayerCount >= 2)
            {
                var players = ConvertToDartsPlayerModel(playerThatAreNotInMatch);//Find suitable playerOne

                while (players.Count >= 2 && !availeblePlayersResult.IsSucces)
                {
                    playerOne = players.ElementAt(random.Next(0, maxPlayerCount));
                    playerOne.IsActiveTurn = true;

                    availeblePlayersResult = await _playerService.GetApponentByPlayerId(playerOne.Id);
                    if (!availeblePlayersResult.IsSucces) players.Remove(playerOne);
                    maxPlayerCount = players.Count();
                }
                //end
                if (availeblePlayersResult.IsSucces)
                {
                    valibleCandidated = ConvertToDartsPlayerModel(availeblePlayersResult.Items.ToList());//Find suitable playerTwo

                    maxPlayerCount = valibleCandidated.Count();
                    var playerTwo = valibleCandidated[random.Next(0, maxPlayerCount)];//end
                    var createMatchResult = await _matchService.CreateAsync(playerOne.Id, playerTwo.Id);
                    if (createMatchResult.IsSucces)
                    {
                        currentMatch = createMatchResult.Items.Select(cm => new DartsMatchModel
                        {
                            PlayerOne = playerOne,
                            PlayerTwo = playerTwo,
                            Id = cm.Id,
                            IsActiveMatch = cm.IsActiveGame,
                        }).FirstOrDefault();

                        await _matchPlayerService.CreateAsync(currentMatch.Id, playerOne.Id);
                        await _matchPlayerService.CreateAsync(currentMatch.Id, playerTwo.Id);

                        error = String.Empty;
                        gameIsDoneMessage = string.Empty;
                        await GetActiveGames();
                        await _sigalRService.SendNewMatch(currentMatch);

                    }
                    else error = createMatchResult.ErrorMessage;



                }
                else error = availeblePlayersResult.ErrorMessage;
            }
            else error = "No available players!";
        };
    }

    private List<DartsPlayerModel> ConvertToDartsPlayerModel(List<Player> players)
    {
        return players.Select(p => new DartsPlayerModel
        {
            Id = p.Id,
            FirstName = p.Firstname,
            LastName = p.Lastname,
            Throws = new List<ThrowModel>(),
        }).ToList();
    }

    private List<DartsPlayerModel> ConvertToDartsPlayerModel(List<Player> players, Guid matchId)
    {
        return players.Select(p => new DartsPlayerModel
        {
            Id = p.Id,
            FirstName = p.Firstname,
            LastName = p.Lastname,
            Throws = p.AllThrows
            .Where(at => at.MatchId == matchId && at.PlayerId == p.Id)
            .Select(at => new ThrowModel
            {
                Id = at.Id,
                MatchId = at.MatchId,
                BaseNumber = (int)at.Score.OriginalScore,
                Throw = (int)at.Score.Score,
                TimeStamp = at.TimeStamp,
            }).ToList(),
            Score = p.Matches.FirstOrDefault(m => m.MatchId == matchId)?.Score != null ? p.Matches.FirstOrDefault(m => m.MatchId == matchId).Score : 0,
        }).ToList();
    }

    private async Task ProcessThrow(ScoreModel score)
    {
        if (currentMatch != null)
        {

            var currentPlayer = currentMatch.PlayerOne.IsActiveTurn == true ? currentMatch.PlayerOne : currentMatch.PlayerTwo;

            var createResult = await _playerThrowService.CreateAsync(currentMatch.Id, currentPlayer.Id, score.Id);
            if (createResult.IsSucces)
            {
                var getResult = await _playerThrowService.GetByUserAndMatchIdAsync(currentMatch.Id, currentPlayer.Id);
                if (getResult.IsSucces)
                {
                    currentPlayer.Throws = getResult.Items.Select(t => new ThrowModel
                    {
                        Id = t.Id,
                        BaseNumber = (int)t.Score.OriginalScore,
                        Throw = (int)t.Score.Score,
                        TimeStamp = t.TimeStamp,
                        MatchId = t.MatchId

                    }).ToList();
                }
                await AddScore(currentPlayer, score);
            }
        }
        else error = "Please create a match!";

    }

    private bool CheckPlayerEligibiletyForAddingScore(DartsPlayerModel player, ScoreModel number)
    {

        DartsPlayerModel opponent = currentMatch.PlayerOne == player ? currentMatch.PlayerTwo : currentMatch.PlayerOne;
        bool shouldGetScore = false;

        foreach (var property in player.FinischedNumbers.GetType().GetProperties())
        {
            if (property.Name == number.Name || number.Name.Contains(property.Name)) //uitzondering voor bull
            {
                foreach (var opponentProperty in opponent.FinischedNumbers.GetType().GetProperties())
                {
                    if (property.Name == opponentProperty.Name &&
                        (bool)property.GetValue(player.FinischedNumbers) == true && (bool)opponentProperty.GetValue(opponent.FinischedNumbers) == false)
                    {
                        shouldGetScore = true;
                        break;
                    }
                }
                break;
            }
        }

        return shouldGetScore;
    }

    private async Task AddScore(DartsPlayerModel player, ScoreModel score)
    {
        if (player.Throws.Any())
        {
            var allThrowOfNumber = player.Throws.Where(t => t.BaseNumber == score.BaseScore).ToList();
            int total = allThrowOfNumber.Sum(a => a.Throw);
            int amountOfHits = total / score.BaseScore;

            if (amountOfHits >= 3)
            {
                foreach (var property in player.FinischedNumbers.GetType().GetProperties())
                {

                    if (property.Name == score.Name || score.Name.Contains(property.Name))//uitzondering voor bull
                    {
                        bool isFinischedBefore = (bool)property.GetValue(player.FinischedNumbers);
                        property.SetValue(player.FinischedNumbers, true);
                        bool shouldGetScore = CheckPlayerEligibiletyForAddingScore(player, score);
                        if (shouldGetScore)
                        {
                            if (isFinischedBefore) player.Score += score.Score;
                            else player.Score += total - score.BaseScore * 3;                       
                            await _matchPlayerService.UpdateAsync(currentMatch.Id, player.Id, player.Score);                            
                        }
                        break;
                    }
                }
            }
            var gameIsDone = CheckGameIsDone(player);
            if (gameIsDone)
            {
                await _sigalRService.SendNewThrow(currentMatch, score, player, true);
                await CloseGame(gameIsDone);
            }
            else await _sigalRService.SendNewThrow(currentMatch, score, player);
        }
    }

    private async Task CloseGame(bool gameIsDone)
    {
        var winner = currentMatch.PlayerOne.Score > currentMatch.PlayerTwo.Score ? currentMatch.PlayerOne : currentMatch.PlayerTwo;
        var loser = currentMatch.PlayerOne.Score < currentMatch.PlayerTwo.Score ? currentMatch.PlayerOne : currentMatch.PlayerTwo;
        bool isSame = false;
        if (currentMatch.PlayerOne.Score == currentMatch.PlayerTwo.Score)
        {
            winner = playerWhoFinischedFirst;
            loser = currentMatch.PlayerOne == winner ? currentMatch.PlayerTwo : currentMatch.PlayerOne;
            isSame = true;
        }
        if (gameIsDone)
        {
            gameIsDoneMessage = $"The winner is {winner.FirstName}-{winner.LastName} with a score of {winner.Score} vs {loser.Score}!!\n";
            if (isSame) gameIsDoneMessage += $"{winner.FirstName}-{winner.LastName} has finisched the game first!!";

            var result = await _matchService.UpdateAsync(currentMatch.Id, false);
            await GetActiveGames();
            if (result.IsSucces) currentMatch = null;
            else error = result.ErrorMessage;
            var winModel = new DartsPlayerWinModel
            {
                Id = winner.Id,
                Firstname = winner.FirstName,
                Lastname = winner.LastName,
                WonMatches = 1,
                CurrentScore = winner.Score,
                Loser = loser
            };
            await _sigalRService.SendNewWinner(winModel);
        }
    }

    private bool CheckGameIsDone(DartsPlayerModel player)
    {

        DartsPlayerModel opponent = currentMatch.PlayerOne == player ? currentMatch.PlayerTwo : currentMatch.PlayerOne;
        bool playerIsFinisched = CheckPlayerIsDone(player);
        bool opponentIsFinisched = CheckPlayerIsDone(opponent);
        if (playerIsFinisched != opponentIsFinisched)
        {
            playerWhoFinischedFirst = playerIsFinisched ? player : opponent;
        }
        if (playerIsFinisched && opponentIsFinisched) return true;
        return false;
    }

    private bool CheckPlayerIsDone(DartsPlayerModel player)
    {
        bool IsDone = true;
        foreach (var property in player.FinischedNumbers.GetType().GetProperties())
        {
            IsDone = (bool)property.GetValue(player.FinischedNumbers);
            if (!IsDone)
            {
                break;
            }
        }

        return IsDone;
    }
    public async Task GetActiveGames()
    {
        activeGames = new();
        var activeMatchesResult = await _matchService.GetActiveMatches();
        if (activeMatchesResult.IsSucces)
        {
            foreach (var match in activeMatchesResult.Items)
            {
                var foundPlayersInMatch = match.PlayerMatch.Select(pm => pm.Player).ToList();
                var players = ConvertToDartsPlayerModel(foundPlayersInMatch, match.Id);
                var tempMatch = new DartsMatchModel
                {
                    Id = match.Id,
                    IsActiveMatch = match.IsActiveGame,
                    PlayerOne = players[0],
                    PlayerTwo = players[1]
                };
                tempMatch.PlayerOne.FinischedNumbers = CreateFinischedNumbers(tempMatch.PlayerOne.Throws);
                tempMatch.PlayerTwo.FinischedNumbers = CreateFinischedNumbers(tempMatch.PlayerTwo.Throws);
                activeGames.Add(tempMatch);
            }
        }
    }

    private FinischedNumbersModel CreateFinischedNumbers(List<ThrowModel> throws)
    {
        var finischednumbers = new FinischedNumbersModel();

        foreach (var prop in finischednumbers.GetType().GetProperties())
        {
            switch (prop.Name)
            {
                case "Fifteen":

                    bool isDone = CheckIfNumberIsFinisched(throws, 15);
                    if (isDone) finischednumbers.Fifteen = true
                            ; break;
                case "Sixteen":
                    isDone = CheckIfNumberIsFinisched(throws, 16);
                    if (isDone) finischednumbers.Sixteen = true
                ; break;
                case "Seventeen":
                    isDone = CheckIfNumberIsFinisched(throws, 17);
                    if (isDone) finischednumbers.Seventeen = true
                ; break;
                case "Eighteen":
                    isDone = CheckIfNumberIsFinisched(throws, 18);
                    if (isDone) finischednumbers.Eighteen = true
                ; break;
                case "NineTeen":
                    isDone = CheckIfNumberIsFinisched(throws, 19);
                    if (isDone) finischednumbers.NineTeen = true
                ; break;
                case "Twenty":
                    isDone = CheckIfNumberIsFinisched(throws, 20);
                    if (isDone) finischednumbers.Twenty = true
                ; break;
                case "Bull":
                    isDone = CheckIfNumberIsFinisched(throws, 25);
                    if (isDone) finischednumbers.Bull = true
                ; break;
            }
        }
        return finischednumbers;
    }

    private bool CheckIfNumberIsFinisched(List<ThrowModel> throws, int number)
    {
        var throwsOfNumber = throws.Where(t => t.BaseNumber == number).ToList();
        var isDone = throwsOfNumber.Sum(ton => ton.Throw) / number >= 3;
        return isDone;
    }

    public void ActivateMatch(DartsMatchModel selectedMatch)
    {
        error = string.Empty;
        gameIsDoneMessage = string.Empty;
        currentMatch = activeGames.FirstOrDefault(ag => ag.Id == selectedMatch.Id);
    }



}








